<!DOCTYPE HTML>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,Chrome=1" />
  <title>JS-Piano</title>
  <!-- Library -->
  <script src="./Library/jquery-3.6.0.js"></script>
  <script src="./Library/vue.js"></script>
  <link rel="stylesheet" href="./Library/e-project.css">
  <script src="./Library/layer/layer.js"></script>
  <script src="./Library/FileSaver/FileSaver.min.js"></script>
  <script src="./Public/api.js"></script>
  <script src="./Public/JS-Piano.js"></script>
  <script src="./res/instruments.js"></script>
  <link rel="stylesheet" href="./Public/index.css">
  <!-- Music_G -->
  <script src="./Music_G/su.js"></script>
</head>

<body>
  <div id="app">
    <div class="IDE">
      <!-- 吸顶层 -->
      <div class="fixedTop ep-pd-l-16rp ep-bs-bb ep-t-white">
        键宽度：<input type="number" class="ep-t-333" style="width:36px;" v-model="KeyWidth" @change="KeyBoardUpdate" /> 格宽度：
        <input type="number" class="ep-t-333" style="width:36px;" v-model="gridWidth" /> 节拍数：
        <input type="number" class="ep-t-333" style="width:36px;" v-model="step" @change="ChartUpdate" /> 小节数：
        <input type="number" class="ep-t-333" style="width:36px;" v-model="long" @change="ChartUpdate" /> BPM：
        <input type="number" class="ep-t-333" style="width:36px;" v-model="movement.speed" />
        <button @click="player">播放</button>
      </div>
      <!-- 内容包络 -->
      <div class="PianoBlock ep-flex" style="width:max-content;">
        <!-- 吸边钢琴栏 -->
        <div class="fixedLeft piano-area ep-flex ep-flex-d-cr ep-flex-fs">
          <div v-for="(group,gi) in Piano" class="Ver8 ep-flex ep-flex-d-cr ep-flex-jc-c ep-flex-ai-s ep-t-999 ep-f-13rp ep-ps-r" style="width:90px;">
            <!-- 0 2 4 5 7 9 11 -->
            <!-- 1 3 6 8 10 -->
            <div v-for="(kb,ki) in group" class="piano-key" :scale="kb.scale" :class="kb.type == 'B' ? 'blackKey' : 'whiteKey'" :style="kb.type == 'B' ? ('top:' + kb.offset + 'px;' + 'height:' + kb.area + 'px;line-height:' + kb.area + 'px;') : ('height:' + kb.area + 'px;line-height:' + kb.txtOS + 'px;')">{{kb.key}}</div>
          </div>
        </div>
        <!-- IDE-Chart -->
        <!-- <div class="IDE-Chart ep-flex-fs ep-flex">
          <div class="charts ep-flex" v-for="indexC of Number(long)">
            <div class="steps" v-for="indexS of Number(step)">
              <div v-for="(grid,indexG) in Chart" class="grid" :class="(grid.type == 'B' ? 'gridB ' : '') + (grid.groupEnd ? 'gE ' : '') + (grid.isPlay ? 'gridAct ' : '')" :style="{'height' : KeyWidth + 'px', 'width' : gridWidth + 'px'}" @click="doIt(indexC,indexS,grid,Chart)"></div>
            </div>
          </div>
        </div> -->
        <!-- 二改 -->
        <div class="IDE-Chart ep-flex-fs ep-flex">
          <div v-for="(chart,indexC) in Chart" :key="indexC" class="charts-nd ep-flex ep-flex-d-c ep-f-10rp" :class="((indexC / Number(step)) % 2 >= 1 ? 'charts-bg0 ' : 'charts-bg1 ') + ((indexC / Number(step)) % 2 == 1 ? 'cutLine' : ((indexC / Number(step)) % 2 == 0 ? 'cutLine' : ''))"><!-- {{indexC}} -->
            <div v-for="(grid,indexG) in chart" :key="indexG" class="grid" :class="(grid.type == 'B' ? 'gridB ' : '') + (grid.groupEnd ? 'gE ' : '') + (grid.isPlay ? 'gridAct ' : '')" :style="{'height' : KeyWidth + 'px', 'width' : gridWidth + 'px'}" @click="doIt(indexC,indexG,chart)">
              <!-- {{grid.groupId}} -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    var vm = new Vue({
      el: "#app",
      beforeCreate() {
        window.Editor = new Object;
      },
      data: {
        Piano: E_PIANO, // 键盘
        Chart: [], // MIDI谱表
        E_KEY: [], // 桥
        KeyWidth: '21',
        gridWidth: '40',
        step: '4',
        long: '4',
        movement: { // 合成乐谱
          speed: 60,
          staff: [],
        },
      },
      mounted() {
        // 播放控制 Music
        // window.Music = Su;

        // title 初始化
        if (window.Music == Su) {
          document.title = "溯"
        } else if (window.Music != Su) {
          document.title = "Piano.js"
        }
        this.KeyBoardUpdate();
        this.ChartUpdate();
        // window.pianist(Su,3000);
      },
      methods: {
        doIt(ci, gi, chart) {
          // TODO: 实现打谱与播放，需要拆分
          this.Chart[ci][gi].isPlay = !this.Chart[ci][gi].isPlay; // 改变选择态
          var groupArr = []; // 创建音元
          chart.forEach(function(item) {
            if (item.isPlay) {
              var arr = [];
              arr.push(item.key);
              arr.push(item.groupId);
              arr.push(item.voice);
              groupArr.push(arr);
              // console.log(arr); // DEBUG
            }
          })
          if (groupArr.length != 0) {
            this.movement.staff[ci] = groupArr;
          } else {
            this.movement.staff[ci] = ['-'];
          }
          // console.log(this.movement.staff);
          // console.log(this.Chart[ci][gi] === this.Chart[ci + 1][gi]); // TODO: 居然全等？！这代表我无论怎么改，都是改的同一个东西，也代表88键是同一个东西循环而来的，并非独立！靠北，见了鬼了...

          this.$forceUpdate();
        },
        player() {
          window.pianist(this.movement);
        },
        KeyBoardUpdate() {
          // TODO: 不要在html中实时计算，在data中插值以便后期维护
          E_PIANO.forEach(function(group, gi) { // 循环 组
            group.forEach(function(key, ki) { // 循环 键
              // 插入组值
              key.groupId = gi;
              // 插入默认状态
              key.isPlay = false;
              key.voice = 0.5;

              // 白键动态宽度
              if (ki == 1 || ki == 3 || ki == 6 || ki == 8 || ki == 10) { // 黑键专区
                key.type = 'B';
                key.area = this.KeyWidth;
                // 键位偏移量
                if (ki == 10) {
                  key.offset = this.KeyWidth * 1.5;
                } else if (ki == 8) {
                  key.offset = this.KeyWidth * 3.5;
                } else if (ki == 6) {
                  key.offset = this.KeyWidth * 5.5;
                } else if (ki == 3) {
                  key.offset = this.KeyWidth * 8.5;
                } else if (ki == 1) {
                  if (gi == 0) {
                    key.offset = this.KeyWidth * 1.5;
                  } else {
                    key.offset = this.KeyWidth * 10.5;
                  }
                }
              } else { // 白键专区
                key.type = 'W';
                if (ki == 11) {
                  key.groupEnd = true;
                }
                // 键宽与文字位置
                if (gi == 8) {
                  key.txtOS = this.KeyWidth;
                  key.area = this.KeyWidth;
                } else {
                  if (ki == 2 || ki == 7 || ki == 9) {
                    key.area = this.KeyWidth * 2;
                    key.txtOS = this.KeyWidth * 2;
                  } else {
                    key.area = this.KeyWidth * 1.5;
                    if (ki == 0 || ki == 5) {
                      key.txtOS = this.KeyWidth * 1.5 * 1.2;
                    } else if (ki == 4 || ki == 11) {
                      key.txtOS = this.KeyWidth * 1.5 * 0.6;
                    }
                  }
                  // 特殊赋值
                  if (gi == 0) {
                    key.area = this.KeyWidth * 1.5;
                    if (ki == 2) {
                      key.txtOS = this.KeyWidth * 1.5 * 0.6;
                    }
                  }
                }
              }
            }.bind(this));
            this.E_KEY = this.E_KEY.concat(group); // 创建E_KEY表
          }.bind(this));
          this.$forceUpdate();
        },
        ChartUpdate() {
          var CHART = this.E_KEY.reverse();
          // 三改: 数组重构，防止出现野生指针问题
          var groups = [];
          for (var i = 0; i < this.long; i++) {
            var step = []
            for (var j = 0; j < this.step; j++) {
              var keyBoard = [];
              CHART.forEach((e, k) => {
                var newObj = {};
                newObj.stepTime = i * 4 + j + 1;
                newObj.groupId = CHART[k].groupId;
                newObj.isPlay = CHART[k].isPlay;
                newObj.scale = CHART[k].scale;
                newObj.voice = CHART[k].voice;
                newObj.type = CHART[k].type;
                newObj.key = CHART[k].key;
                keyBoard.push(newObj);
              });
              step.push(keyBoard);
            }
            groups = groups.concat(step);
          }
          this.Chart = groups;

          // 创建空表 将来可能会废弃
          groups.forEach(function(item, index) {
            this.movement.staff.push(['-']);
          }.bind(this))

          this.$forceUpdate();
        },
        updateData() {

        },
        debugger(data) {}
      },
    })

    var isClick = false;
    // 按键判定前置
    $(window).mousedown(function() {
      isClick = true;
    });
    $(window).mouseup(function() {
      isClick = false;
      cleanAct();
    });
    $(".piano-key").mouseout(function() {
      cleanAct();
    });
    // 按键判定
    $(".piano-key").mouseover(function() {
      if (isClick) {
        createAudio($(this).attr('scale'));
      }
    });

    var NavView;
    // 页面加载播放
    window.onload = function() {
      if (/Android|webOS|iPhone|iPod|BlackBerry/i.test(navigator.userAgent)) {
        // console.log("Wap");
        NavView = "wap";
        // "..."为spread运算符，ES6语法
        [...document.querySelectorAll('.piano-key')].forEach(function(item) {
          item.addEventListener('touchstart', function() {
            createAudio($(this).attr('scale'));
          });
        });
      } else {
        // console.log("Pc");
        NavView = "pc";
        $(".piano-key").mousedown(function() {
          createAudio($(this).attr('scale'));
        });
      }
    }
    var KeyboardVol = 0.3;
  </script>
</body>

</html>