* {
  font-family: Consolas;
  transition: all .16s;
}

.PianoBlock {
  /* 防止用户误选 */
  user-select: none;
  background-color: rgb(111, 125, 134);
}

.Ver8 {
  border: #ddd 1px solid;
  border-top: none;
  border-bottom: none;
}

.Ver88 {
  border: #ddd 1px solid;
  border-top: none;
}

.whiteKey {
  font-size: 13px;
  box-sizing: border-box;
  background: white;
  color: #888;
  width: 100%;
  text-align: right;
  padding-right: 5px;
  border-top: #ddd 1px solid;
}

.WKActive {
  background: coral !important;
}

.blackKey {
  font-size: 11px;
  box-sizing: border-box;
  background: #333;
  color: #ccc;
  width: 70%;
  text-align: right;
  padding-right: 5px;
  border: #ddd 1px solid;
  border-left: none;
  position: absolute;
  left: 0;
  transform: translate(0, -50%);
}

.BKActive {
  background: lightskyblue;
}

.fixedTop {
  position: sticky;
  top: 0;
  left: 0;
  width: 100vw;
  height: 50px;
  background-color: rgb(39, 56, 53);
  z-index: 2;
}

.fixedLeft {
  position: sticky;
  left: 0;
}

.IDE {
  width: 100vw;
  height: 100vh;
  overflow: scroll;
}

.charts {
  height: 100%;
  border-right: 1px double #aaa;
}

.charts-nd {
  height: 100%;
}

.charts:nth-child(2n-1) {
  background-color: rgb(78, 87, 104);
}

.charts:nth-child(2n) {
  background-color: rgb(111, 125, 134);
}

.grid {
  box-sizing: border-box;
  border-top: 1px dotted #777;
  border-right: 1px dotted #aaa;
  color: #ccc;
  width: 90px;
}

.gridB {
  background-color: rgba(0, 0, 0, 0.3);
}

.gE {
  border-top: 1px solid #fff;
}

.grid:last-child {
  border-bottom: 1px solid #888;
}

.gridAct {
  background-color: rgba(0, 211, 200, 0.8);
}

.charts-bg0 {
  background-color: rgb(78, 87, 104);
}

.charts-bg1 {
  background-color: rgb(111, 125, 134);
}

.timeAct0 {
  background-color: #407E78;
}

.timeAct1 {
  background-color: #599A8D;
}

.cutLine {
  border-left: 1px double #aaa;
  color: #ccc;
  /* color: rgb(8, 255, 160); */
}